body{
  font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #bde2b5;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #fff;
    text-decoration: underline;
}

li a.active {
    color: white;
    background-color:#5a7056;
    text-decoration: underline;
}
 .trackDisplay{
        border: 2px solid black;
        margin: 10px 10px 10px 10px;
        padding: 10px;
}

p {
  font-size: 20px;
}

h1 {
  text-align: center;
}
